@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-darkMode-background-color: #2c3e50; 
    --main-background-color: #ecf0f1;
    --main-text-color: #2c3e50;
    --main-darkMode-text-color: #ecf0f1;
    --main-button-text-color: #ecf0f1;
    --main-button-background-color: #1abc9c;
    --main-button-hover-background-color:#16a085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
    color: var(--main-text-color);
}